body {
    background-color: #e1e1e2;
    font-family: sans-serif;
}

article {
    margin: 4% 20%;
    padding: 10px 2px;
    /*text-align: justify;*/
    /*background-color: #665e41;*/
}

section {
}

header p {
    border-bottom: #6b98b3;
    border-bottom-style: dashed;
    border-bottom-width: medium;

}

article p {
    border-radius: 2px;
    /*background-color: #c5a7a7;*/
    padding: 8px;
    margin: 8%;
}


h1 {
    background-color: cornsilk;
    font-size: xx-large;
    border-radius: 2px;
}

figure img {
    width: 100%;
}

/*All the h1 and h2 share this*/
h1, h2, h3 {
    text-align: center;
    font-family: "Book Antiqua", serif;
}

/*All of my header elements are text-align centered. Because I strongly believe in that.
 I suggest you to do the same, lest many horrors be visited upon you (may God have mercy on your soul)*/
header {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5e334d;
}

a:focus {
    color: crimson;
}

a:visited {
    color: purple;
}

nav {
    background-color: #457b9d;
    padding: 3px;
    border-radius: 2px;
}

nav li {
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    /*Get rid of bullet points*/
    list-style: none;
    display: inline-block;
}

/*These are my navigation links that go to html elements*/
nav .html-elements {
    background-color: #6b98b3;
}

/*These are my nav elements that go to css properties*/
nav .css-properties {
    background-color: #6bb398;
}

aside {
}

blockquote {
    font-family: "Yu Gothic", fangsong;
}

.fullwidth-img {
    /*Seems like a reasonable proportion of the page width to use*/
    width: 96%;
}

.halfwidth-img {
    /*Seems like a reasonable proportion of the page width to use*/
    width: 66%;
}

.centered-img {
    /*These center the image horizontally*/
    display: block;
    /*CENTER ME*/
    margin: auto;
    /*STAY AWAY this far*/
    padding: 2em;
}

.box-boarder {
    border-style: solid;
    margin-left: 65px;
    margin-right: 65px;
}
