body {
    background-color: #e1e1e2;
    font-family: sans-serif;
}

article {
}

section {
}

p {
}

h1 {
    background-color: cornsilk;
    font-size: xx-large;
}

/*All the h1 and h2 share this*/
h1, h2 {
    text-align: center;
    font-family: serif;
}

/*All of my header elements are text-align centered. Because I strongly believe in that.
 I suggest you to do the same, lest many horrors be visited upon you (may God have mercy on your soul)*/
header {
    text-align: center;
}

a {
    color: #090;
}

a:hover {
    color: #5e334d;
}

a:focus {
    color: crimson;
}

b {
}

i {
}

aside {
}

blockquote {
    font-family: "Yu Gothic", fangsong;
}

.fullwidth-img {
    /*Seems like a reasonable proportion of the page width to use*/
    width: 96%;
}


.halfwidth-img {
    /*Seems like a reasonable proportion of the page width to use*/
    width: 36%;
}

.centered-img {
    /*These center the image horizontally*/
    display: block;
    margin: auto;
}
