body {
    background-color: hsl(45, 95%, 48%);
}

article {
    background-color: #5e334d;
}

section {
    background-color: hsl(45, 95%, 48%)
}

p, address {
    background-color: hsl(16, 75%, 31%);
}

h1 {
    /*Text-align center puts the element centered on the page*/
    text-align: center;
    background-color: hsl(349, 88%, 53%);
    font-family: "Arial Black", serif;
    font-size: 2em;
}

h2 {
    background-color: hsl(73, 50%, 40%);
    font-family: Arial, serif;
    font-weight: lighter;
    font-size: 24px;
}

a {
    color: #82dc14;
}

b {
    font-family: sans-serif;
}

i {
    font-kerning: none;
}

aside {
    background-color: hsl(100, 100%, 30%);
}