body
{
    background-color: #2d3a6b;
    font-family: sans-serif;
}

article
{
    margin: 4% 20%;
    padding: 10px 2px;
    /*text-align: justify;*/
}

article p
{
    border-radius: 2px;
    background-color: #c5a7a7;
    padding: 8px;
    margin: 8%;
}

h1
{
    background-color: cornsilk;
    font-size: xx-large;
    border-radius: 2px;
}

/*All the h1 and h2 share this*/
h1, h2, h3
{
    text-align: center;
    font-family: "Book Antiqua", serif;
}

header
{
    text-align: center;
}

nav a
{
    color: #143c8c;
    text-decoration: none;
}

a:hover
{
    color: #ff0000;
}

a:focus
{
    color: #dc5a14;
}

a:visited
{
    /*color: purple;*/
}

nav
{
    padding: 10px 2px;
    background-color: #457b9d;
    margin: 1% 5% 4%;
    border-radius: 8px;
    width: fit-content;
}

nav ul
{
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
}

nav li
{
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    /*Get rid of bullet points*/
    list-style: none;
    display: inline-block;
}

/*These are my navigation links that go to html elements*/
nav .nav-home
{
    background-color: #6b98b3;
}

/*These are my nav elements that go to css properties*/
nav .nav-link
{
    background-color: #6bb398;
}

/*These are my nav elements that go to external website*/
nav .nav-link-ext
{
    background-color: #c264ac;
}

.fullwidth-img
{
    /*Seems like a reasonable proportion of the page width to use*/
    width: 96%;
}

.halfwidth-img
{
    /*Seems like a reasonable proportion of the page width to use*/
    width: 66%;
}

.centered-img
{
    /*These center the image horizontally*/
    display: block;
    /*CENTER ME*/
    margin: auto;
    /*STAY AWAY this far*/
    padding: 2em;
}

.box-boarder
{
    border-style: solid;
    background-color: #8b8bb4;
    padding: 14px;
    width: fit-content;
    border-radius: 18px;
}

.large-icon
{
    padding: 20px;
}

span
{
    padding: 20px;
}