body
{
    font-family: Georgia, serif;
    font-size: 16px;
    background-color: rgb(0, 128, 0);
}

header
{
    font-size: 40px;
    font-family: Georgia, serif;
    text-align: center;
}

h2
{
    margin: 11px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(128, 128, 128);
}


.wrapper
{
    background-color: rgb(255, 255, 255);
    width: auto;
    padding: 25px;
    min-height: 100%;
}

/* For navigation list */

.nav
{
    border-top: 1px solid rgb(0, 128, 0);
    border-bottom: 1px solid rgb(0, 128, 0);
    margin-bottom: 22px;
}

.nav li
{
    display: inline-block;
    padding: 10px;

}

.nav li a
{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 128, 0);
    text-transform: uppercase;
    text-decoration: none;
}


/* Columns and paras down here */

p
{
    margin: 11px 0;
}


.main, .side, .col2, .col4
{
    padding: 10px;
    line-height: 22px;
}

.col3 p, .side p, .col2 p, .col4 p
{
    color: #707070;
}

.col3
{
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 30px;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-rule: #707070 1px dotted;
    -moz-column-rule: #707070 1px dotted;
    -webkit-column-rule: #707070 1px dotted;
}

.col2
{
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 30px;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-rule: darkgreen 1px dotted;
    -moz-column-rule: darkgreen 1px dotted;
    -webkit-column-rule: darkgreen 1px dotted;
}

.col2 h2
{
    column-span: all;
    /*-moz-column-span: all; (This is invalid)*/
    -webkit-column-span: all;
}

.col4
{
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-gap: 25px;
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-rule: #bb2020;
    -moz-column-rule: #bb2020;
    -webkit-column-rule: #bb2020;
}
